<nav>
    <div class="application">
        <h2>Navigate</h2>
    </div>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="login">Login</a>
        </li>
        <li>
            <a href="/registration">Registration</a>
        </li>
        <li>
            <a href="/postimage">Post Image</a>
        </li>
        <li>
            <a href="/viewpost">Viewpost</a>
        </li>
    </ul>
</nav>