<link rel="stylesheet" href="/public/css/registration.css" />
<div class="container">
  <form id="myForm" onsubmit="event.preventDefault(); myValidation();">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />

    <label for="username">Username</label>
    <input type="text" id="username" name="username" />

    <label for="pass">Password</label>
    <input type="password" id="pass" name="pass" />

    <label for="passValidation">Confirm Password</label>
    <input type="password" id="passValidation" name="passValidation" />
    <label for="age_checkbox">Please confirm, are you 13+ ?</label>
    <input type="checkbox" name="check" id="age_checkbox" required />
    <br />
    Do you accept T.O.S. and our Privacy Rules?
    <input type="checkbox" name="check" id="terms_checkbox" value="2" required />


    <input type="submit" value="Submit" />
  </form>
</div>

<script src="/public/js/registration.js"></script>