<link rel="stylesheet" type="text/css" href="/public/css/view.css">

<section>
    Title:
</section>
<br><br>
<section>
    Author:
</section>
<br><br>
<section>
    Creation time:
</section>
<br><br>
<section>
    Image:
</section>